<a href="https://colab.research.google.com/github/suyash11223/Basics-of-Python_SPC/blob/main/Assignments/Assignment_1_Suyash_patil_Lalwani_9131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
Name="Suyash Patil"
Roll_No=9131

Lists

In [16]:
A=["Suyash","Patil",20,"Student",]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Suyash', 'Patil', 20, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [17]:
a=("Suyash","Patil",20,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Suyash', 'Patil', 20, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [18]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Suyash', 'Patil']
['Sadashiv Peth']
20
411030

Class

In [19]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [20]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['Suyash', 'Patil', 20, 'Student']
['Suyash', 'Patil', 20, 'Student']

Append

In [21]:
print(B)
B.append("Autonomous")
print(B)

### TUpples cannot be modified

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [22]:
print(A.count("Suyash Patil"))
A.append("Suyash Patil")
print(A.count("Suyash Patil"))

0
1

Delete list

In [23]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Suyash', 'Patil', 20, 'Student']

Extend

In [24]:
print(A)
print(B)
A.extend(B)
print(A)

['Suyash', 'Patil', 20, 'Student', 'Suyash Patil']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Suyash', 'Patil', 20, 'Student', 'Suyash Patil', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [25]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
6

Sort

In [26]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

### For sorting all the elements in the list should be of same type

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [27]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [28]:
ABlist=["Suyash Patil","SP COllege",[20,411030]]
print(ABlist)
print(ABlist[2])

['Suyash Patil', 'SP COllege', [20, 411030]]
[20, 411030]